.parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding-top: 10%;
}
.child {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
}
